.page {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

.card{
     width: 75%;
  padding: 10px;
  box-shadow: 2px 5px 15px black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;

   
}
.h1{
    font-family: fantasy;
    font-weight: lighter;
}
.p{
    text-align: start;
    opacity: 0.9;
}
.tags{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 5px;
    color: gray;
    
}
.react{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
